{% extends 'index.html' %}

{% block title %}
  Actualización de productos
{% endblock %}

{% block page_name %}
  Productos
{% endblock %}

{% block subpage_name %}
  Actualización de productos
{% endblock %}

{% block name_now %}
  Actualización de productos
{% endblock %}

{% block content %}
  {% load static %}
  {% load utils %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}" />
  <h1 class="container text-center space">Cargar un archivo</h1>
  <button class="btn">Descargar plantilla</button>
  <div class="card">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">{{ form.file }}</div>
      <button type="submit" class="btn btn-success" style="width: 10%">Cargar</button>
    </form>
  </div>
  <script src="{% static 'js/upload_file.js' %}"></script>
  <script src="{% static 'js/functions.js' %}"></script>
{% endblock %}
