{% extends 'index.html' %}

{% block title %}
  Actualización de productos
{% endblock %}

{% block page_name %}
  Productos
{% endblock %}

{% block subpage_name %}
  Actualización de productos
{% endblock %}

{% block name_now %}
  Actualización de productos
{% endblock %}

{% block content %}
  {% load static %}
  {% load utils %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}" />
  <h1 class="container text-center space">Cargar un archivo</h1>
  <div class="card p-1">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mt-5">{{ form.file }}</div>
      <button type="submit" class="btn btn-success" style="width: auto">Cargar</button>
    </form>
    <button class="btn btn-warning btn-upload mt-1">Descargar plantilla</button>
  </div>
{% endblock %}
