{% extends 'index.html' %}

{% block title %}
Actualización de productos
{% endblock %}

{% block page_name %} 
Productos
{% endblock %}

{% block subpage_name %} 
Actualización de productos
{% endblock %}

{% block name_now %} 
Actualización de productos
{% endblock %}

{% block content %}
{% load static %}
{% load utils %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}">
<h1 class="container text-center space">Cargar un archivo</h1>
<div class = 'card'>
    <!-- CARGAR ARCHIVO -->
    {% if form %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.file }}
            </div>
            <button type="submit" class='btn btn-success'style="width: 10%">Cargar</button>
        </form>
    {% endif %}
    <!-- CARGAR ARCHIVO -->

    <!-- SELECCIONAR COLUMNAS -->
    {% if columns_shopi %}
        <h4 class= 'text-center' > Seleccion de columnas </h4>
            <div class = 'select_columns'>
                <form method="post" action="review_updates">
                    {% csrf_token %}
                    {% for colum in columns_file %}
                    <h5>{{colum}}</h5>
                    <select class="form-control" id="file_{{colum}}" name={{colum|replace_spaces}} >
                        <option value="N/A" selected="">N/A</option>
                        <option value="Codigo barras">Codigo barras</option>
                        <option value="Costo">Costo</option>
                        <option value="Estado publicación">Estado publicación</option>
                        <option value="Margen">Margen</option>
                        <option value="Margen comparación">Margen comparación</option>
                        <option value="Precio">Precio</option>
                        <option value="Precio comparación">Precio comparación</option>
                        <option value="Proveedor">Proveedor</option>
                        <option value="SKU">SKU</option>
                        <option value="Stock">Stock</option>
                        <option value="Tags">Tags</option>
                        <option value="Titulo">Titulo</option>
                    </select>
                    {% endfor %}

                    <div class = 'text-center'>
                        <a class='btn btn-warning btn-menu' href = '/products/upload'> Volver</a>
                        <input type="submit" class='btn btn-primary btn-menu' id = 'btn-start' value= "Continuar"></input>
                    </div>
                </form>
            </div>
        {% endif %}
        <!-- SELECCIONAR COLUMNAS -->
</div>
<script src="{% static 'js/upload_file.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}