{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{info.name|slice:"1:"}}{% if info.customer.displayName %}-{{ info.customer.displayName }}{% endif %}</title>
    <link href="{% static 'css/cotizacion_style.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <style>
        .pg1{ 
        background-image: url('{% static "images/cotizacion_img/Pg1.png" %}')
        }

        .pg2{ 
        background-image: url('{% static "images/cotizacion_img/Pg2.png" %}')   
        }

        .pg3{ 
        background-image: url('{% static "images/cotizacion_img/Pg3.png" %}')
        }
    </style>
</head>
<div>
    <div class="page container">
        <div class='back pg1'>
        </div>
    </div>
    <div class="page">
        <div class='back pg2'>
        </div>
    </div>
    <div class="page" id='cotizacion'>
        <div class='back pg3'>
            <div class="container">
                <div class="overlay-text">
                    <p class="texto-derecha">FEPRIN SAS / PAMO.CO
                        <br> NIT: 900.382.733-3 Régimen Común
                        <br> Actividad Económica 4752 Tarifa Renta 0,40%
                        <br> AV CARACAS No 66 - 67 BOGOTA - D.C.
                        <br> Teléfonos: (601)9168880 3124875756
                        <br>
                        <br> No somos Autoretenedores - No somos Grandes Contribuyentes
                        <br> Régimen IVA: COMÚN Actividad ICA: 47521 6,90x mil</p>
                </div>
                <div class='info-customer'>
                    <p>{% if info.customer.displayName %} <strong>Nombre / Empresa:</strong> {{info.customer.displayName|title}}
                        <br>
                        <br> {% endif %} {% if info.customer.email %} <strong>Correo:</strong> {{info.customer.email}}
                        <br>
                        <br> {% endif %} {% if nit %} <strong>Nit:</strong> {{nit}}
                        <br>
                        <br> {% endif %} {% if info.customer.defaultAddress.phone %} <strong>Teléfono:</strong> {{info.customer.defaultAddress.phone|cut:"0123456789"}}
                        <br>
                        <br> {% endif %} Plazo: 10 dias Fecha de Vencimiento: {{plazo}}
                    </P>
                    <p>Teléfono: 316 7578855</P>
                    <p class="texto-derecha">Fecha: <u>{{update}}/</u>
                        <br>
                        <br>Cotización No. {{info.name|slice:"1:" }}</P>
                </div>
                <div>
                    <table class="product-table" id="product-table">
                        <thead>
                            <tr>
                                <th class="column H5" style="width: 70px;">FOTO</th>
                                <th class="column" style="padding: 8px 40px;">SKU</th>
                                <th class="column" style="padding: 8px 90px;">DESCRIPCIÓN</th>
                                <th class="column" style="width: 104.4px;">CANTIDAD</th>
                                <th class="column" style="width: 114.9px;">P. UNITARIO</th>
                                <th class="column" style="width: 90.65px;">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div id="footer">
                        <div class='cont_ends'>
                            <div class='btns'>
                                {% if info.appliedDiscount.title %}
                                <p>{{ info.appliedDiscount.title }}</p> {% endif %}
                                <p>Ahora puedes pagar tus compras en linea con WOMPI. Edita tus datos de envío y facturación, selecciona la
                                    <br>opción de transferencia y elige entre Bancolombia o Davivienda.</p>
                                <a href="{{info.invoiceUrl}}"><img src="{% static 'images/cotizacion_img/Bot-pago.png' %}" width='30px' alt="boton pago"></a>
                                <p>Comunicate directamente con nosotros si tienes dudas o deseas hacer alguna modificación</p>
                                <a href="https://api.whatsapp.com/send?phone=576019142738&text=Hola,%20tengo%20dudas%20con%20mi%20cotización%20{{info.name|slice:" 1: " }}"><img src="{% static 'images/cotizacion_img/bton-W.png' %}" width='30px' alt="boton w"></a>
                            </div>
                            <div class="totales">
                                <div class='texto-derecha' style="margin-right: 10px; min-width: 100px;">
                                    <p><strong>Total bruto</strong></p>
                                    {% if info.appliedDiscount.amount %}<p><strong>Descuento</strong></p> {% endif %}
                                    <p><strong>Subtotal</strong></p>
                                    <p><strong>IVA</strong></p>
                                    <p><strong>Total</strong></p>
                                </div>
                                <div>
                                    <p id='total-bruto'></p>
                                    {% if info.appliedDiscount.amount %}<p id='descuento'></p>{% endif %}
                                    <p id='subtotal'></p>
                                    <p id='iva'></p>
                                    <p id='total'></p>
                                </div>
                            </div>
                        </div>
                        <div class="linea-horizontal"></div>
                        <div class='politics'>
                            <p style="width: 800px;margin: 0 auto;">
                                POLITICAS DE REEMBOLSO DE FEPRIN SAS
                                <br> Consulta nuestra politica de reembolso https://www.pamo.co/policies/refund-policy
                                <br>
                                <span style='text-align: justify;'>
                                    Todas las devoluciones y/o garantías estarán sujetas al derecho de retracto y a la política de garantías por lo que toda solicitud debe ser notificada por el correo ventas@pamo.co, en el tiempo establecido por PAMO COLOMBIA que equivalen a treinta (30) días fecha calendario a partir de que el cliente tenga el producto. Si la garantía de
                                    tu producto es procedente, se realizará la reparación pertinente totalmente gratuita de los defectos del bien y se suministrará oportunamente los repuestos requeridos siempre
                                    y cuando el producto cumpla con los siguientes requisitos: 1. El producto de venir correctamente embalado 2. El producto debe venir limpio y desinfectado (sin ningún tipo de
                                    residuo) previamente antes de ser recibido. PORFAVOR CONSERVE EL EMPAQUE Y GUIAS DEL PRODUCTO PARA SU RESPECTIVA GARANTIA YA QUE EL PRODUCTO PUDO VERSE
                                    AFECTADO POR EL MALTRATO EN SU EMBALAJE.
                                    POLITICAS DE PRIVACIDAD DE FEPRIN SAS
                                    Consulta nuestra politica de Privacidad
                                </span>
                            </p>
                            <a href="#" class='boton-imagen' id="botonImprimir">
                                <img src="{% static 'images/descarga.png' %}" width="50" alt="Imprimir">
                                <span>Imprimir</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</html>
<script src="{% static 'js/functions.js' %}"></script>
<script>

    window.onload = function() {
  
    document.getElementById('botonImprimir').addEventListener('click', function() {
        window.print();
        });

      var elemento = document.getElementById("cotizacion");
      if (elemento) {
        elemento.scrollIntoView();
      }
      totales = {}
      totales.totalSinIva = 0
      totales.total = 0
      total = 0

      json = "{{info|safe}}".replace(/'/g, '"');
      json = json.replace(/None/g, 'null');
      datos = JSON.parse(json);
      data = JSON.parse(json).lineItems.edges;
      data.forEach(function(element) {
      totales.total += (element.node.originalUnitPrice * element.node.quantity)
      totales.iva = (totales.totalSinIva/ 1.19) - totales.totalSinIva
      element.node.title = element.node.title.replace('~', '\"')
        });
        totales.iva = totales.total - (totales.total/1.19)
        totales.totalSinIva = totales.total - totales.iva
        totales.descuento = datos.appliedDiscount == null ? '' : (Math.round((datos.appliedDiscount.amount / datos.totalPrice)*100))/100 *(totales.totalSinIva)
        totales.subtotal = totales.totalSinIva - totales.descuento  
        totales.subTotalSinIva = totales.subtotal * 0.19 
        totales.total = totales.subtotal + totales.subTotalSinIva 
        document.getElementById('total-bruto').textContent =  formatNumber(totales.totalSinIva)
        document.getElementById('descuento') == null ? '' : document.getElementById('descuento').textContent = formatNumber(parseFloat(totales.descuento))
        document.getElementById('subtotal').textContent = formatNumber(parseFloat(totales.subtotal))
        document.getElementById('iva').textContent =  formatNumber(totales.subTotalSinIva)
        document.getElementById('total').textContent =  formatNumber(totales.total)

      function setTable(table, data) {
        var tbody = table.getElementsByTagName('tbody')[0];
        data.forEach(function(item) {
          var row = tbody.insertRow();
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          var cell5 = row.insertCell(4);
          var cell6 = row.insertCell(5);
  
          imagen = document.createElement('img');
          imagen.src = item.scr == undefined ? "{% static 'images/cotizacion_img/4.png' %}" : item.scr;
          imagen.width = 75;
          imagen.height = 75;
          cell1.appendChild(imagen);
          cell2.innerHTML = item.sku == undefined ? "" : item.sku;
          cell3.innerHTML = item.node.title == undefined ? "" : item.node.title;
          cell4.innerHTML = item.node.quantity == undefined ? "" : item.node.quantity;
          vUnit = item.node.originalUnitPrice / 1.19;
          cell5.innerHTML = item.node.originalUnitPrice == undefined ? "" : formatNumber(vUnit);
          totalItem = item.node.originalUnitPrice / 1.19 * item.node.quantity;
          cell6.innerHTML = item.node.originalUnitPrice == undefined ? "" : formatNumber(totalItem);
        });
      }

      var limit = 7;
      const rowGroups = [];
      let currentGroup = [];
      let rowCount = 0;
      for (const row of data) {
        currentGroup.push(row);
        rowCount++;
        if (rowCount >= limit) {
          rowGroups.push(currentGroup);
          currentGroup = [];
          rowCount = 0;
        }
      }
  
      if (currentGroup.length > 0) {
        rowGroups.push(currentGroup);
      }
      var divs = [];
      rowGroups.forEach((group, index) => {
        divPage = document.getElementById('cotizacion');
        if (index == 0){
            table = divPage.getElementsByClassName('product-table')[0];
            setTable(table, group);
            if (rowGroups.length > 1){
                footer = document.getElementById('footer');
                footer.remove()
            }
        }
        else {
            var divPageAdd = divPage.cloneNode(true); //clona el div
            //quita datos de cliente
            infoCustomers = divPageAdd.getElementsByClassName('info-customer');
            while (infoCustomers.length > 0) {
            infoCustomers[0].parentNode.removeChild(infoCustomers[0]);
            }//hasta aqui quita datos de cliente
            table = divPageAdd.getElementsByClassName('product-table')[0];
            var tbody = table.getElementsByTagName('tbody')[0];
            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
              }
            setTable(table, group);
            divPageAdd.id = 'cotizacion_' + index.toString();
            group.forEach((row) => {
            document.body.appendChild(divPageAdd);
            });
            container = divPageAdd.getElementsByClassName('container')[0]

                if ((container.offsetHeight + 322) > 800  && (rowGroups.length == index+1)){
                    add_footer()
                }
                if (!document.getElementById('footer')){
                    add_footer()
                }
                
            }    
      });

      function add_footer() {
      container.appendChild(footer.getElementsByClassName('cont_ends')[0]);
      var divPageAdd = divPage.cloneNode(true); //clona el div
      //quita datos de cliente
      infoCustomers = divPageAdd.getElementsByClassName('info-customer');
      while (infoCustomers.length > 0) {
      infoCustomers[0].parentNode.removeChild(infoCustomers[0]);
      }//hasta aqui quita datos de cliente
      table = divPageAdd.getElementsByClassName('product-table')[0];
      table.remove()
      document.body.appendChild(divPageAdd);
      container = divPageAdd.getElementsByClassName('container')[0];
      politics = footer.getElementsByClassName('politics')[0];
      politics.style.marginTop = "60px";
      container.appendChild(politics);}
    };
</script>
