{% extends 'index.html' %}
{% load static %}

{% block title %}
Cotizaciones
{% endblock %}

{% block page_name %} 
Cotizaciones
{% endblock %}

{% block subpage_name %} 
Listado
{% endblock %}

{% block name_now %} 
Listado cotizaciones
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}">
<script src="{% static 'js/functions.js' %}"></script>
<h1 class="container text-center space">Cotizaciones</h1>
<div class = "card"> 
      <table class="table table-striped container space"  id="cotizaciones">
        <thead >
          <tr >  
            <th scope="col" class = 'h4 text-center'># Cotizacíon</th>
            <th scope="col" class = 'h4 text-center'>Cliente</th>
            <th scope="col" class = 'h4 text-center'>Valor</th>
            <th scope="col" class = 'h4 text-center'>Fecha Creacion</th>
            <th scope="col" class = 'h4 text-center'>Detalle</th>
          </tr>
        </thead>
          {% for i in table %}
          <tr>
     
            <td class="h5 name" id = 'name'>{{i.name}}</td>
            <td class="h5">{{i.customer}}</td>
            <td class="h5"><script> document.write(formatNumber({{i.total}})) </script></td>
            <td class="h5">{{i.created_at}}</td>
            <td style="display: flex;"><button class="imprimir-btn btn btn-success" style="margin-right: 20px;" id_draft ="{{i.id}}" data-cotizacion="cotizacion1">Ver</button>
            <a href="#" class = 'update-btn' id_draft ="{{i.id}}" ><img src='https://cdn-icons-png.flaticon.com/512/2748/2748606.png' width="40" alt="Actualizar"></td>
          </a></td> 
          </tr>
          {% endfor %}
        </table>
    </div>

<script>

  let dataTable;
  let dataTableIsInitialized = false;
  
  const dataTableOptions = {
    pageLength:25,
    destroy:true,
    order: [[0, 'desc']],
    columnDefs:[{className:'text-center', targets:[0,1,2,3,4]}],
    language: {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros por página",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando 0 a 0 de 0 registros",
      "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
        "sFirst": "Primero",
        "sLast": "Último",
        "sNext": ">>",
        "sPrevious": "<<"
      },
    },
  }

  const initDataTable = async() => {
    if(dataTableIsInitialized){
      dataTable.destroy();
    }
    dataTable=$("#cotizaciones").DataTable(dataTableOptions);
    dataTableIsInitialized = true;
    console.log('inicia')
  }
  
  const botonesImprimir = document.querySelectorAll('.imprimir-btn');
  botonesImprimir.forEach((boton) => {
    boton.addEventListener('click', function() {
      const popup = window.open('/quoteprint/'+ this.getAttribute('id_draft').replace('gid://shopify/DraftOrder/','') +'/print/', '', 'width=1200,height=700'); 
    })
  })

  const botonesActualizar = document.querySelectorAll('.update-btn');
  botonesActualizar.forEach((boton) => {
    boton.addEventListener('click', function() {
    $.ajax('/quoteprint/'+this.getAttribute('id_draft').replace('gid://shopify/DraftOrder/','')+'/update',{
      success: function(data, status, xhr){
        location.reload();
      }
    })
    })
  })

  window.addEventListener("load", async () =>{
    await initDataTable();
  })

</script>
{% endblock %}