.dataTables_paginate {
    padding-right: 50px;
    padding-top: 25px;
  }
  
.card{
    width: 98%;
    margin: 0 auto;
    padding: 10px;
}
.dataTables_length{
  margin-left: 50%;
  margin-top: 2%;
}
.dataTables_filter{
  margin-right: 50%;
  margin-top: 2%;

}
.dataTables_info{
  margin-left: 150px ;
}

.dataTables_filter input {
  border: 1px solid #ccc; /* Ajusta el estilo del borde según tus preferencias */
  padding: 5px; /* Ajusta el espacio interno según tus preferencias */
  border-radius: 4px; /* Ajusta el redondeo de las esquinas según tus preferencias */
  display: inline-block; /* Añade display:inline-block para evitar ocultar al hacer clic */
  max-width: 224px;
}
.dataTables_filter input:focus {
  border: 1px solid #ccc; /* Ajusta el estilo del borde según tus preferencias */
}
.page-item .page-link{
  border-radius: 0% !important;
}


.table {
  width: 100% !important;
}